* {
	margin: 0px;
	padding: 0px;
	font-family: arial;


}


.header1 {

	display: inline-flex;
	height: 100px;
	width: 100%;
	background-color: #fff;


}
#about{
	display: none;
}
#about:target {
	{display: block;}
}

.p1 {
	font-weight: bold;
	margin: 0px auto;
	padding: 45px;
	font-size: 20px;

}

.img1 {
	height: 75px;
	width: 60px;
	padding: 20px;
}

.header2 {

	height: 50px;
	width: 100%;
	background-color: #2ca346;
	border: none;

}

ul li {
	border-right: 2px solid white;
	padding: 15px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bolder;
	color: #fff;
}


ul #last {
	border: none;
}
.home::after {

}

.inp1 {
	margin-left: 50px;
	color: #fff;
	height: 46px;
	padding: 0px 0px 0px 10px;
	background-color: transparent;
	border: none;
	float: right;


}

.section .img2 {
	width: 100%;
	height: 100%;
	height: 0px auto;
	border: none;



}

.section2 {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 20px 50px;
}

.li1 li {
	text-align: left;

}

.li2 li {
	text-align: center;
}

.li3 li {
	text-align: right;
	padding-left: 20px;
}


.footer {
	width: 100%;
	height: 70px;

}

.footer marquee {
	padding: 20px;
}